// Abstracts
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/breakpoints';

// Base
@use 'base/typography';

// Components

// Layout
@use 'layout/container';

// Base styles
:root {
  color-scheme: light night;
  background-color: rgb(0, 0, 0);
}

main {
  
}

// Global media queries
@include breakpoints.respond-to('tablet') {
  main {
    
  }
}

@include breakpoints.respond-to('mobile') {
  main {
    
  }
}

// Media queries
@include breakpoints.respond-to('desktop') {
  .movie-description {
    display: none;
  }
}

@include breakpoints.respond-to('large-desktop') {
  .movie-description {
    display: none;
  }
} 