// Abstracts
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/breakpoints';

// Base
@use 'base/typography';

// Components
@use 'components/search-bar';
@use 'components/circle-button';

// Layout
@use 'layout/header';
@use 'layout/container';

// Base styles
:root {
  color-scheme: light night;
  background-color: rgb(0, 0, 0);
}

// Global media queries
@include breakpoints.respond-to('mobile') {
  :root {
    margin-top: 200px;
  }
}

// Media queries
@include breakpoints.respond-to('desktop') {
  .movie-description {
    display: none;
  }
}

@include breakpoints.respond-to('tablet') {
  .backdrop-thumbnails {
    display: none;
  }
}

@include breakpoints.respond-to('large-desktop') {
  .movie-description {
    display: none;
  }
}

@include breakpoints.respond-to('mobile') {
  .header {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 10px;
  }

  .search-bar {
    width: 80%;
    margin-bottom: 10px;
  }

  .circle-button {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }
} 