@use 'abstracts/variables';
@use 'abstracts/mixins';

.movie-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative; /* Para asegurarnos de que el sticky funcione correctamente */
}

.category-header {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  
  /* Posición fija justo encima del carousel */
  position: absolute;
  top: 0;
  left: 5%; /* Ajusta esto según sea necesario para alinear el título */
  z-index: 10; /* Asegura que el título se quede encima de otros elementos */
  width: 90%; /* Se ajusta al 90% del ancho del contenedor */
  padding: 10px 0; /* Se mantiene el padding vertical */
}

.custom-carousel {
  
  .p-carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;  /* Espaciado entre películas */
  }

  .p-carousel-item {
    flex: 1 1 auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
}

.movie-card {
  margin-top: 90px;
  width: 100%;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  position: relative;  /* Para que el efecto hover de la imagen no afecte el layout */
}

.movie-poster {
  cursor: pointer;
  width: 100%;
  min-width: 220px;
  border-radius: 10px;
  transition: transform 0.3s ease;  /* Transición para el agrandado de la imagen */

  &:hover {
    transform: scale(1.1);  /* Agrandar imagen */
  }
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.skeleton-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
  padding: 1rem;
  .border {
    flex-shrink: 0;
    width: calc(20% - 1rem);
  }
}

.movie-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  .play-button {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
      transform: scale(1.1);
      background: rgba(0, 0, 0, 0.8);
    }
  }

  .movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    color: #fff;

    .movie-title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rating-container {
      display: flex;
      align-items: center;

      .stars-outer {
        position: relative;
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 400; 
        color: #ccc;
        font-size: 1rem;

        &::before {
          content: '\\f005 \\f005 \\f005 \\f005 \\f005';
        }

        .stars-inner {
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
          overflow: hidden;
          color: #f5c518;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;

          &::before {
            content: '\\f005 \\f005 \\f005 \\f005 \\f005';
          }
        }
      }

      .rating-value {
        margin-left: 8px;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}

.movie-card:hover .movie-info-overlay {
  opacity: 1;
}
