<div class="container">
  <div class="movie-banner">
    <p-carousel 
      [value]="popularMovies" 
      [responsiveOptions]="[
      { breakpoint: '1024px', numVisible: 1, numScroll: 1 },
      { breakpoint: '768px', numVisible: 1, numScroll: 1 },
      { breakpoint: '560px', numVisible: 1, numScroll: 1 }
      ]"
      [autoplayInterval]="10000"
      [numVisible]="1"
      (onPage)="onPageChange($event)">
    
      <ng-template let-movie pTemplate="item">
        <div class="movie-item">
          <!-- Contenedor de texto y miniaturas a la izquierda -->
          <div class="movie-info">
            <!-- Mostrar el logo si existe -->
            <img *ngIf="movie.logosUrls?.length > 0; else showTitle" [src]="movie.logosUrls[0]" alt="Movie Logo" class="movie-logo" />
            <ng-template #showTitle>
              <!-- Si no hay logo, mostrar el título -->
              <h2 class="movie-title">{{ movie.title }}</h2>
            </ng-template>
            <p class="movie-description">{{ movie.description }}</p>
          </div>
          <!-- Miniaturas superpuestas -->
          <div class="backdrop-thumbnails">
            <div *ngFor="let thumb of movie.thumbnails">
              <img [src]="thumb.getBackdropUrl()" alt="Thumbnail" class="thumbnail" (click)="onThumbnailClick(thumb)"/>
            </div>
          </div>
          <!-- Imagen principal del carousel -->
          <img [src]="getImageForCarousel(movie)"  alt="Backdrop" class="big-image" />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Grid de peliculas por categoria -->
  <div class="movie-grid">
    <div class="container">
      <app-movie-category
        *ngFor="let category of movieCategories"
        [title]="category.name"
        [movies]="(category.movies$ | async) || []">
      </app-movie-category>
    </div>
  </div>
</div>
