.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
}

.movie-banner {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  position: relative;

  .backdrop-thumbnails {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .thumbnail {
      width: 100px;
      height: 60px;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.7;
      transition: transform 0.3s ease, opacity 0.3s ease;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  .movie-item {
    position: relative;
    img {
      width: 100%;
      max-height: 600px;
      object-fit: contain;
    }
  }
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  flex-grow: 1;
}

.banner-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  .banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, transparent, black);
  }

  .banner-text {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

.movie-card-container {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .movie-poster {
    width: 100%;
    border-radius: 10px;
  }
}

.pagination {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;

  button {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
  }
}
